<h1><%= user.username %>'s Dashboard </h1>

<div class="row">
	<div class="col-md-2">
	  <img src="" class="" >
		USER PROFILE IMAGE
	</div>
	
	<div class="col-md-8">
		Links to make new posts here. 
	</div>
</div>