

<div class="row">
	
	<div class="col-md-9">
		<div class="row">
			<div class="col-md-2">
		 	 <img src="http://i.imgur.com/cFdN7IR.jpg" class="img-circle profile-image" >
			</div>
			<div id="post-types" class="col-md-10"></div>
			
		</div>
		<div class="clear-div"></div>
		<div id="user-feed"></div>
		
	</div>
	
	<div id="right-side-bar" class="col-md-3 well well-sm">
		<h4><%= user.username %>'s Dashboard </h4>
	</div>
</div>