

<div class="row">
	<div class="col-md-1">
	  <img src="http://i.imgur.com/cFdN7IR.jpg" class="img-circle profile-image" >
	</div>
	
	
	<div id="post-area" class="col-md-8">
	
	</div>
	
	<div id="right-side-bar" class="col-md-3 well well-sm">
		<h4><%= user.username %>'s Dashboard </h4>
	</div>
</div>