

<div class="row">
	
	<div class="col-md-9" id="dashboard-home">
		<div class="row">
			<div class="col-md-2">
		 	 <img src="<%= user.escape('avatar') %>" class="img-circle profile-image" >
			</div>
			<div id="post-types" class="col-md-10"></div>
			
		</div>
		<div class="clear-div"></div>
		<div id="user-feed"></div>
		
	</div>
	
	<div id="right-side-bar" class="col-md-3 well well-sm">
		<h4><%= user.username %>'s Dashboard </h4>
		<p>Welcome to classable!.  Click any of the post types to write a new entry in your blog.</p>
	</div>
</div>