<div class="user-menu-item fright">
		<form id="log-out-form" action="/session" method="post">
			<input type="hidden" name="_method" value="DELETE">
			<input type="hidden" name="authenticity_token" value="<%= token %>">
			<i title="Logout" class="fa fa-power-off fa-3x"></i>
		</form>

</div>

<div class="user-menu-item fright">
		<i title="Settings" class="fa fa-gears fa-3x"></i>
</div>


<div class="user-menu-item fright">
		<i title="Help" class="fa fa-question-circle fa-3x"></i>
</div>

<div class="user-menu-item fright">
		<i title="Messages" class="fa fa-envelope fa-3x"></i>
</div>

<div class="user-menu-item fright">
		<i title="Home" class="fa fa-home fa-3x"></i>
</div>