<div class="left-triangle"></div>
<div class="post-type" id="text-post"> 
	<div class="post-type-icon"></div> 
	<span class="post-type-text">TEXT </span>
</div>

<div class="post-type-spacer"></div>

<div class="post-type" id="image-post"> 
	<div class="post-type-icon"></div> 
	<span class="post-type-text">IMAGE</span>
</div>

<div class="post-type-spacer"></div>

<div class="post-type" id="quote-post"> 
	<div class="post-type-icon"></div> 
	<span class="post-type-text">QUOTE</span>
</div>

<div class="post-type-spacer"></div>

<div class="post-type" id="link-post"> 
	<div class="post-type-icon"></div> 
	<span class="post-type-text">LINK </span>
</div> 

<div class="post-type-spacer"></div>

<div class="post-type" id="chat-post"> 
	<div class="post-type-icon"></div> 
	<span class="post-type-text">CHAT </span>
</div>

<div class="post-type-spacer"></div>

<div class="post-type" id="audio-post"> 
	<div class="post-type-icon"></div> 
	<span class="post-type-text">AUDIO</span> 
</div>

<div class="post-type-spacer"></div>

<div class="post-type" id="video-post"> 
	<div class="post-type-icon"></div> 
	<span class="post-type-text">VIDEO</span>
 </div>