<div class="left-triangle"></div>
<div class="post-type" data-type="textTemplate"> 
	<div class="post-type-icon">
		<div class="post-icon-wrapper">
			<span class="post-icon-text">Aa</span>
		</div>
	</div> 
	<span class="post-type-text">TEXT </span>
</div>

<div class="post-type-spacer"></div>

<div class="post-type" data-type="imageTemplate"> 
	<div class="post-type-icon">
		<div class="post-icon-wrapper">
	  <i class="fa fa-camera"></i>
	</div>
</span></div> 
	<span class="post-type-text">IMAGE</span>
</div>

<div class="post-type-spacer"></div>

<div class="post-type" data-type="quoteTemplate"> 
	<div class="post-type-icon">
		<div class="post-icon-wrapper">
		<i class="fa fa-quote-left"></i>
	</div>
</div> 
	<span class="post-type-text">QUOTE</span>
</div>

<div class="post-type-spacer"></div>

<div class="post-type" data-type="linkTemplate"> 
	<div class="post-type-icon">
		<div class="post-icon-wrapper">
		<i class="fa fa-link"></i>
	</div>
</div> 
	<span class="post-type-text">LINK </span>
</div> 

<div class="post-type-spacer"></div>

<div class="post-type" data-type="chatTemplate"> 
	<div class="post-type-icon">
		<div class="post-icon-wrapper">
		<i class="fa fa-comment"></i>
	</div>
</div> 
	<span class="post-type-text">CHAT </span>
</div>

<div class="post-type-spacer">
</div>

<div class="post-type" data-type="audioTemplate"> 
	<div class="post-type-icon">
		<div class="post-icon-wrapper">
			<i class="fa fa-music"></i>
	</div>
</div> 
	<span class="post-type-text">AUDIO</span> 
</div>

<div class="post-type-spacer"></div>

<div class="post-type" data-type="videoTemplate"> 
	<div class="post-type-icon">
		<div class="post-icon-wrapper">
		<i class="fa fa-video-camera"></i>
	</div>
</div> 
	<span class="post-type-text">VIDEO</span>
 </div>