<div class="col-md-2">
	<!-- User Profile image goes here -->
	<img src="http://i.imgur.com/cFdN7IR.jpg" class="img-circle profile-image">
</div>
			
<div class="col-md-10 feed-post">
	<div class="left-triangle"></div>
	<div class="post-background">
		<div class="post-author"><%= post.get('author').username %></div>
		<h4><%= post.get('text').title %></h4>
		<div class="post-md-body"><%= post.get('text').text %></div>>
	</div>
<div class="clear-div"></div>
</div>

