<form enctype="multipart/form-data" class="post-form">
<div class="fright cancel-post large-text"><span class="glyphicon glyphicon-remove-circle"></span></div>
<div class="new-post-title"><% if (post.id) { %>
	Edit Image Post.
	<%} else {%>
	New Image Post.
	<%}%></div>

	<div id="post-errors"></div>
	
	<input type="hidden" name="post[type]" value="Image">
		
		

			<!-- <div id="drag-file-upload">Click Upload or Drag Image Files Here </div>	-->
	
	  
		<div class="fileUpload btn btn-primary btn-large">
		    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Upload&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
		    <input type="file" id="image-upload" class="upload" data-url="/api/pictures" multiple  />
		
		
		
		<!-- <span class="input-group-addon glyphicon glyphicon-camera"></span> -->
		<!-- make a drop target that can also be clicked to upload images -->
		<!-- ><input type="file" id="image-upload" class="form-control" name="picture[image]" data-url="/api/pictures" multiple /><br> -->
	</div>
	
	<div id="uploaded-images"></div>

	<br>
	 <!-- Title and Caption / PostText is optional for Image Posts.  Hidden until a photo is uploaded.  -->
	<div class="optional-text" style="display: none;">		
		<div class="input-group">
			<span class="input-group-addon">Title</span>
			<input class="form-control"  type="text" name="post[title]" placeholder="Write your post's title here..." value="<% if (post.get('title')){ %><%=post.get('title') %><% }%>">
		</div>
		<br>
		<textarea class="form-control" name="post[post_text]" value="" placeholder="Write your post's text here..."><% if (post.get('post_text')){ %><%=post.get('post_text') %><% }%></textarea>
		<br>
	</div>
	<button class="btn toggle-options fright">Show Advanced Options</button>
	<div id="adv-opt-clear-div" class="clear-div hidden"></div>
	<div class="advanced-options hidden">
	<br>
		<div class="input-group">
			<span class="input-group-addon glyphicon glyphicon-globe"></span>
			<input class="form-control" type="text" name="post[custom_url]" value="" placeholder="eg. /Amazing-Blog-Post" id="post-url">
		</div>

	
		<br>
		<div class="input-group">
			<span class="input-group-addon glyphicon glyphicon-link"></span>
			<input class="form-control" type="text" name="post[source_link]" placeholder="Source Link" value="">
    </div>
		
		<br>
		<div class="input-group">
			<span class="input-group-addon glyphicon glyphicon-calendar"></span>
			<input class="form-control" type="date" name="post[publish_date]" value="" placeholder="PUBLISH DATE">
		</div>
	<br>
	</div>

	<button class="btn btn-success <% if (post.id) { %>
	update-post
	<%} else {%>
	create-post
	<%}%>"><% if (post.id) { %>
	Update Post
	<%} else {%>
	Create Post
	<%}%></button>
</form>