<form>
<div class="fright cancel-post large-text"><span class="glyphicon glyphicon-remove-circle"></span></div>
<div class="new-post-title">New Text Post.</div>

	<div id="post-errors"></div>
	<input type="hidden" name="post[post_type]" value="TextPost">
		
		
	
			<div class="input-group">
				<span class="input-group-addon glyphicon glyphicon-font"></span>
				<input class="form-control"  type="text" name="text[title]" placeholder="Write your post's title here..." value="">
			</div>
	  </div>
	<br>
	

		<textarea class="form-control" name="text[post_text]" value="" placeholder="Write your post's text here..."></textarea>

	<br>
	<button class="btn btn-warning toggle-options fright">Show Advanced Options</button>
	<div id="adv-opt-clear-div" class="clear-div hidden"></div>
	<div class="advanced-options hidden">
	<br>
		<div class="input-group">
			<span class="input-group-addon glyphicon glyphicon-globe"></span>
			<input class="form-control" type="text" name="post[custom_url]" value="" placeholder="eg. /Amazing-Blog-Post" id="post-url">
		</div>

	
		<br>
		<div class="input-group">
			<span class="input-group-addon glyphicon glyphicon-link"></span>
			<input class="form-control" type="text" name="post[source_link]" placeholder="Source Link" value="">
    </div>
		
		<br>
		<div class="input-group">
			<span class="input-group-addon glyphicon glyphicon-calendar"></span>
			<input class="form-control" type="date" name="post[publish_date]" value="" placeholder="PUBLISH DATE">
		</div>
	<br>
	</div>

	
	<button class="btn btn-success">Create Post</button>
</form>