<form class="post-form">
<div class="fright cancel-post large-text"><span class="glyphicon glyphicon-remove-circle"></span></div><% debugger %>
<div class="new-post-title"><% if (post.id) { %>
	Edit Text Post.
	<%} else {%>
	New Text Post.
	<%}%></div>

	<div id="post-errors"></div>
	<input type="hidden" name="post[type]" value="Text">
		
		
	
			<div class="input-group">
				<span class="input-group-addon">Title</span>
				<input class="form-control"  type="text" name="post[title]" placeholder="Write your post's title here..." value="<% if (post.get('title')){ %><%=post.get('title') %><% }%>">
			</div>
	  </div>
	<br>
	
  <!-- This needs to be a partial / Sub View? -->
	<div class="editor">
	    <div class="toolbar">
	        <span class="button-h1" accesskey="1" title="Heading 1"><img src="/assets/h1.png" /></span>
	        <span class="button-h2" accesskey="2" title="Heading 2"><img src="/assets/h2.png" /></span>
	        <span class="button-h3" accesskey="3" title="Heading 3"><img src="/assets/h3.png" /></span>
	        <span class="button-bold" accesskey="b" title="Bold text"><img src="/assets/bold.png" /></span>
	        <span class="button-italic" accesskey="i" title="Italic text"><img src="/assets/italic.png" /></span>
	        <span class="divider">&nbsp;</span>
	        <span class="button-bullets" accesskey="l" title="Bullet List"><img src="/assets/bullets.png" /></span>
	        <span class="button-numbers" accesskey="n" title="Ordered list"><img src="/assets/numbers.png" /></span>
	        <span class="divider">&nbsp;</span>
	        <span class="button-sourcecode" accesskey="k" title="Source code"><img src="/assets/source_code.png" /></span>
	        <span class="button-quote" accesskey="q" title="Qoutation"><img src="/assets/document_quote.png" /></span>
	        <span class="divider">&nbsp;</span>
	        <span class="button-link" accesskey="l" title="Insert link"><img src="/assets/link.png" /></span>
	        <span class="button-image" accesskey="p" title="Insert picture/image"><img src="/assets/picture.png" /></span>
	    </div>
	    <textarea class="area form-control" name="post[post_text]" placeholder="Write your post here!  This editor supports the markdown markup language.  Feel free to * write in markdown * or use the editors buttons to help you out."><% if (post.get('post_text')){ %><%=post.get('post_text') %><% }%></textarea>
	</div>
	
	<!-- Initialize the edtior -->

	
	
	
	
		<!-- <textarea class="form-control" name="post[post_text]" value="" placeholder="Write your post's text here...">te hee</textarea> -->

	<br>
	<button class="btn btn-warning toggle-options fright">Show Advanced Options</button>
	<div id="adv-opt-clear-div" class="clear-div" style="display: none;"></div>
	<div class="advanced-options" style="display: none;">
	<br>
		<div class="input-group">
			<span class="input-group-addon glyphicon glyphicon-globe"></span>
			<input class="form-control" type="text" name="post[custom_url]" value="" placeholder="eg. /Amazing-Blog-Post" id="post-url">
		</div>

	
		<br>
		<div class="input-group">
			<span class="input-group-addon glyphicon glyphicon-link"></span>
			<input class="form-control" type="text" name="post[source_link]" placeholder="Source Link" value="">
    </div>
		
		<br>
		<div class="input-group">
			<span class="input-group-addon glyphicon glyphicon-calendar"></span>
			<input class="form-control" type="date" name="post[publish_date]" value="" placeholder="PUBLISH DATE">
		</div>
	<br>
	</div>

	
	<button class="btn btn-success <% if (post.id) { %>
	update-post
	<%} else {%>
	create-post
	<%}%>"><% if (post.id) { %>
	Update Post
	<%} else {%>
	Create Post
	<%}%></button>
</form>