
.body-splash {
	background-image: url('http://i.imgur.com/SmEJkXF.jpg');
	background-size: cover;
}

.top-bar {
	margin: 20px auto 20px auto;
	padding-bottom: 10px;
	border-bottom: 2px solid #7D93A8;
}

#logo-text {
	font-family: 'Bevan', cursive;
	font-size: 48px;
}

#outer-container {
	width: 100%;
}

#inner-container {
	width: 748px;
	min-height: 300px;
	margin: 5px auto 10px auto;
	background-color: white;
	border-radius: 10px;
	padding: 10px;
}

.new-post {
	padding: 25px;
	background-color: #27323C;
	box-shadow: 0px 0px 5px #000;
}

#logged-in {
	text-align: right;
}

.logout-div {
	display: inline-block;
}

.clear-div {
	clear: both;
}

.profile-image {
	width: 100px;
	//height: 80px;
}


.fleft {
	float: left;
}

.fright {
	float: right;
}

.btn-full {
	width: 100%;
}

.input-group-home {
	background-color: #acacac;
	top: 0px;
}

.home-well {
	margin-top: 50px;
	box-shadow: 0px 0px 10px #000;
}

.img-preview {
	width: 200px;
	margin: 5px 5px 0px 0px;
}

.blog-image {
	width: 100%;
}